<header>
        <a href="/">
            <img id="logo" src="/img/logo.png" alt="Logo dos Cavaleiros dos Zoodíacos">
        </a>
        <nav>
            <ul>
                <a href="/"> <li> Home </li> </a>
                <a href="/cadastro"> <li> Cadastro </li> </a>
            </ul>
        </nav>
</header>