<script src="https://kit.fontawesome.com/71f92ea1b3.js" crossorigin="anonymous"></script>
<header> 
    <nav> 
        <ul> 
            <a href="/"> <li> <i class="fa-solid fa-house"></i> Index </li> </a>
            <a href="/criar"> <li> <i class="fa-solid fa-circle-plus"></i> Criar </li> </a>
        </ul>
    </nav>
</header>