<header> 
    <nav> 
        <ul> 
            <a> <li> <i class="fa-solid fa-house"></i> Index </li> </a>
            <a> <li> <i class="fa-solid fa-pencil"></i> Criar </li> </a>
        </ul>
    </nav>
</header>